body {
  background: #1f1f1f;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 95vh;
}

h1 {
  color: white;
  font-size: 64px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  margin-top: -47%;
}

p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 85px;
}

canvas {
  width: 640px;
  height: 640px;
  margin-top: 2%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure canvas is behind text */
}

#overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure text is above canvas */
  font-size: 16px;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center; /* Center text horizontally */
}
